In [25]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns
from scipy.stats import zscore

plt.style.use('ggplot')

In [ ]:
df = pd.read_csv('../../data/benin-malanville.csv')
df.sample(10)

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
170596,2021-12-05 11:17,793.1,594.5,323.4,875.3,857.0,30.5,21.1,3.4,4.1,0.6,99.1,10.3,996,0,0.0,56.1,44.0,NaN
309963,2022-03-12 06:04,-5.3,-0.5,-6.9,0.0,0.0,25.8,39.6,0.0,0.0,0.0,0.0,0.0,991,0,0.0,25.1,24.1,NaN
281313,2022-02-20 08:34,260.0,176.6,191.3,262.5,230.8,22.3,26.9,1.9,2.9,0.5,68.6,11.6,997,0,0.0,34.7,28.1,NaN
342400,2022-04-03 18:41,17.2,-0.9,14.2,21.0,20.5,39.3,15.3,1.4,1.9,0.5,312.8,7.5,988,0,0.0,38.5,37.8,NaN
506122,2022-07-26 11:23,657.7,148.2,515.7,619.8,617.2,28.1,72.2,1.9,2.6,0.5,148.6,10.0,995,0,0.0,57.0,47.0,NaN
453386,2022-06-19 20:27,-1.9,-0.5,-1.8,0.0,0.0,30.2,68.5,1.6,2.1,0.4,184.4,5.6,995,0,0.0,29.2,28.5,NaN
396965,2022-05-11 16:06,609.6,315.8,394.8,523.3,513.1,40.3,28.3,0.4,1.3,0.6,83.8,16.6,990,0,0.0,52.0,49.8,NaN
161448,2021-11-29 02:49,-1.9,-0.6,-1.9,0.0,0.0,17.9,77.0,0.6,1.1,0.5,231.0,1.9,993,0,0.0,15.4,14.5,NaN
205972,2021-12-30 00:53,-4.9,-0.4,-6.4,0.0,0.0,17.7,53.9,0.0,0.0,0.0,0.0,0.0,997,0,0.0,17.0,16.1,NaN
233642,2022-01-18 06:03,-2.5,-0.4,-2.2,0.0,0.0,15.8,35.0,2.5,2.9,0.4,71.2,5.9,1001,0,0.0,13.4,13.7,NaN
60121,2021-09-19 18:02,74.2,5.0,72.3,66.2,66.0,32.0,71.1,1.1,1.3,0.2,222.9,1.7,993,0,0.0,35.0,34.7,NaN
456814,2022-06-22 05:35,-2.5,-0.2,-2.3,0.0,0.0,23.5,92.2,3.4,4.1,0.6,226.6,8.7,994,0,0.0,23.4,22.6,NaN
42521,2021-09-07 12:42,177.8,0.3,176.2,195.1,195.7,23.0,93.2,4.9,6.2,0.7,261.7,8.9,997,0,0.0,26.6,25.6,NaN
206093,2021-12-30 02:54,-4.9,-0.6,-6.6,0.0,0.0,17.2,52.2,0.1,0.7,0.4,251.4,0.0,996,0,0.0,16.1,14.9,NaN
75254,2021-09-30 06:15,-1.1,-0.1,-1.1,0.0,0.0,24.4,98.7,0.0,0.0,0.0,0.0,0.0,996,0,0.0,24.7,24.2,NaN
432807,2022-06-05 13:28,921.0,438.8,476.8,827.0,819.0,34.6,48.5,4.4,5.4,0.6,251.3,7.3,992,0,0.0,58.6,51.9,NaN
343,2021-08-09 05:44,-1.3,-0.2,-1.3,0.0,0.0,24.5,97.8,0.0,0.0,0.0,0.0,0.0,998,0,0.0,24.5,24.1,NaN
120230,2021-10-31 11:51,942.0,751.6,264.2,986.0,981.0,33.3,48.7,3.0,3.6,0.5,39.6,8.7,997,0,0.0,68.2,56.9,NaN
206818,2021-12-30 14:59,707.2,810.0,143.0,782.6,686.0,32.7,12.8,4.1,5.1,0.6,78.2,16.3,994,0,0.0,48.0,43.8,NaN
310555,2022-03-12 15:56,389.7,15.8,375.0,362.5,341.5,38.3,15.0,1.1,1.9,0.7,37.7,16.2,989,0,0.0,53.3,46.4,NaN
7523,2021-08-14 05:24,-1.0,-0.1,-1.0,0.0,0.0,23.4,98.5,1.0,1.6,0.5,214.9,11.4,995,0,0.0,23.7,23.3,NaN
93021,2021-10-12 14:22,848.0,787.0,174.1,861.0,859.0,36.5,41.9,1.9,2.9,0.5,39.7,14.9,992,0,0.0,60.8,58.3,NaN
514798,2022-08-01 11:59,460.0,1.3,456.4,436.2,434.3,27.1,77.0,4.6,5.4,0.6,224.5,7.4,997,0,0.0,42.2,37.2,NaN
521211,2022-08-05 22:52,-1.4,-0.4,-1.3,0.0,0.0,25.9,89.2,0.0,0.0,0.0,0.0,0.0,998,0,0.0,25.1,24.0,NaN
136188,2021-11-11 13:49,848.0,821.0,159.2,903.0,902.0,37.2,24.9,1.8,2.4,0.3,26.9,16.6,993,0,0.0,62.5,57.1,NaN

In [ ]:
df.describe(include='number')

,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
count,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,0.0
mean,240.559452,167.187516,115.358961,236.589496,228.883576,28.179683,54.487969,2.121113,2.809195,0.473390,153.435172,8.582407,994.197199,0.000923,0.001905,35.246026,32.471736,NaN
std,331.131327,261.710501,158.691074,326.894859,316.536515,5.924297,28.073069,1.603466,2.029120,0.273395,102.332842,6.385864,2.474993,0.030363,0.037115,14.807258,12.348743,NaN
min,-12.900000,-7.800000,-12.600000,0.000000,0.000000,11.000000,2.100000,0.000000,0.000000,0.000000,0.000000,0.000000,985.000000,0.000000,0.000000,9.000000,8.100000,NaN
25%,-2.000000,-0.500000,-2.100000,0.000000,0.000000,24.200000,28.800000,1.000000,1.300000,0.400000,59.000000,3.700000,993.000000,0.000000,0.000000,24.200000,23.600000,NaN
50%,1.800000,-0.100000,1.600000,4.500000,4.300000,28.000000,55.100000,1.900000,2.600000,0.500000,181.000000,8.600000,994.000000,0.000000,0.000000,30.000000,28.900000,NaN
75%,483.400000,314.200000,216.300000,463.700000,447.900000,32.300000,80.100000,3.100000,4.100000,0.600000,235.100000,12.300000,996.000000,0.000000,0.000000,46.900000,41.500000,NaN
max,1413.000000,952.300000,759.200000,1342.300000,1342.300000,43.800000,100.000000,19.500000,26.600000,4.200000,360.000000,99.400000,1003.000000,1.000000,2.500000,81.000000,72.500000,NaN

In [ ]:
# Check for missing values
df.isna().sum()

In [53]:
# Calculate the percentage of missing values for each column
missing_percentage = (df.isna().sum() / len(df)) * 100

# List columns with more than 5% missing values
columns_with_nulls = missing_percentage[missing_percentage > 5]
print("Columns with more than 5% missing values:")
print(columns_with_nulls)

df = df.dropna(subset=['GHI', 'DNI','DHI', 'ModA', 'ModB','WS', 'WSgust']).copy()
df = df.reindex().copy()

Columns with more than 5% missing values:
Comments    100.0
dtype: float64

In [57]:
# Compute Z-scores for GHI, DNI, and DHI, 'ModA', 'ModB', 'WS', and 'WSgust'
z_scores = zscore(df[['GHI', 'DNI','DHI', 'ModA', 'ModB','WS', 'WSgust']])
# Create a DataFrame for Z-scores to align indices
z_scores_df = pd.DataFrame(z_scores, columns=['GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'WS', 'WSgust'], index=df.index)

# Identify outliers using Z-scores
# A Z-score greater than 3 or less than -3 is typically considered an outlier
# Filter the DataFrame to get the outliers
outliers = df[np.abs(z_scores_df) > 3].any(axis=1)

# Display the outliers
print("Outliers based on Z-scores:")
outliers

Outliers based on Z-scores:

0         False
1         False
2         False
3         False
4         False
          ...
525595    False
525596    False
525597    False
525598    False
525599    False
Length: 525600, dtype: bool

In [ ]:
# Drop rows with outliers
df_cleaned = df.loc[~outliers].reset_index(drop=True).copy()

df_cleaned.describe(include='number')

,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
count,517860.000000,517860.000000,517860.000000,517860.000000,517860.000000,517860.000000,517860.000000,517860.000000,517860.000000,517860.000000,517860.000000,517860.000000,517860.00000,517860.000000,517860.000000,517860.000000,517860.000000,0.0
mean,236.234508,166.896673,111.656477,232.393310,225.026584,28.146975,54.574586,2.065886,2.737151,0.465109,153.570868,8.526833,994.18638,0.000935,0.001123,35.085631,32.371906,NaN
std,328.288787,262.081997,153.099749,324.256767,314.315996,5.924507,28.010491,1.513137,1.907636,0.260157,102.692758,6.391820,2.46835,0.030557,0.022703,14.738292,12.334820,NaN
min,-11.100000,-7.800000,-12.600000,0.000000,0.000000,11.000000,2.100000,0.000000,0.000000,0.000000,0.000000,0.000000,985.00000,0.000000,0.000000,9.000000,8.100000,NaN
25%,-2.000000,-0.500000,-2.100000,0.000000,0.000000,24.200000,29.000000,0.900000,1.300000,0.400000,58.200000,3.600000,993.00000,0.000000,0.000000,24.200000,23.500000,NaN
50%,0.700000,-0.100000,0.500000,3.400000,3.200000,27.900000,55.100000,1.900000,2.400000,0.500000,182.300000,8.600000,994.00000,0.000000,0.000000,29.800000,28.800000,NaN
75%,468.700000,316.300000,212.000000,448.700000,434.000000,32.300000,80.100000,3.000000,3.900000,0.600000,235.300000,12.200000,996.00000,0.000000,0.000000,46.500000,41.300000,NaN
max,1233.000000,952.300000,591.400000,1205.100000,1175.000000,43.800000,100.000000,6.900000,8.700000,2.300000,360.000000,99.400000,1003.00000,1.000000,2.300000,81.000000,72.500000,NaN